<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Reports.Properties.Settings>
            <setting name="UserConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=MAGNOLIA11062020;Persist Security Info=True;User ID=sa;Password=zealadmin01</value>
            </setting>
            <setting name="ProgramVersion" serializeAs="String">
                <value>TESTPROGRAMANDVERSION</value>
            </setting>
            <setting name="SN" serializeAs="String">
                <value>TESTSN</value>
            </setting>
            <setting name="MIN" serializeAs="String">
                <value>TESTMIN</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>TESTUSERNAME</value>
            </setting>
            <setting name="CurrentUserId" serializeAs="String">
                <value>1</value>
            </setting>
        </Reports.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
